[submodule "sources/Externals/pico-sdk"]
	path = sources/Externals/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	tag = 1.5.1
[submodule "sources/Externals/etl"]
	path = sources/Externals/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "sources/Externals/--force"]
	path = sources/Externals/--force
	url = https://github.com/hathach/tinyusb.git
[submodule "sources/Externals/TinyUSB"]
	path = sources/Externals/TinyUSB
	url = https://github.com/hathach/tinyusb.git
